    <div class="container bg-light py-5">
    <h2 class="display-5 fw-bold" style="text-align: center;">Ready To Start Test!</h2>
    <!-- <img src="src\assets\images\quiz-photo.jpg" alt="image.jpg"> -->
    
    <p>This quiz contains total 10 questions. Each question holds 2 marks</p>
    <h4>Rules</h4>
    <ol>
        <li>Correct question gives you 2 marks</li>
        <li>Incorrect question give -2 marks</li>
        <li>you will have 60 seconds to answer each question</li>
        <li>refreshing the page will restart the quiz</li>
    </ol>
    <button (click)="startTest()" type="button" style="color: blue; background-color: aquamarine;" class="btn btn-light">Start Test</button>
    </div>














